/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-chris-radtke-portfolio-blocks-image-button-gallery {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	gap: clamp(1.44rem, calc(0.4rem + 3.9vw), 3rem);

	.container__column {
		flex: 1 1 48%;
		display: flex;
		flex-direction: column;
		gap: clamp(1.44rem, calc(0.4rem + 3.9vw), 3rem);
		&.container__column--2 {
			flex: 1 1 52%;
		}
	}

	.container__inner-row {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}

	.container__column--2 .container__inner-row {
		justify-content: flex-start;
	}

	.container__image-button {
		width: 100%;
		min-height: 3rem;
		background: rgba(0, 0, 0, 0.2);
	}

	.image-button__item {
		position: relative;
		display: block;
	}

	a.image-button__item {
		text-decoration: none;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #000000;
			opacity: 0;
			transition: all 0.2s ease;
		}
		&:hover,
		&:focus {
			&::after {
				opacity: 0.22;
			}
		}
	}

	.container__image-button.container__small {
		max-width: 363px;
	}

	&.gallery-reversed {
		.container__column--1 {
			order: 2;
			.container__inner-row {
				justify-content: flex-start;
			}
		}
		.container__column--2 {
			order: 1;
			.container__inner-row {
				justify-content: flex-end;
			}
		}
	}
}

@media (max-width: 768px) {
	.wp-block-chris-radtke-portfolio-blocks-image-button-gallery {
		display: block;
		.container__column {
			display: block;
		}
		.container__image-button {
			margin-bottom: clamp(1.44rem, calc(0.4rem + 3.9vw), 3rem);
		}

		.image-button__item {
			min-height: var(--ibg-min-height-mobile, 200px) !important;
		}
	}
}

// Link input styling
.block-editor-link-control {
	min-width: 0 !important;
}

.block-editor-url-input {
	min-width: 0 !important;
	margin: 0 !important;
}
